* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.button {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.header {
  height: 75px;
  background-color: #222222;
}

.nav__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 19px;
  padding-bottom: 19px;
}

.nav-left,
.nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-li {
  margin-right: 33px;
}

.menu {
  min-width: 232px;
  min-height: 764px;
  background-color: #fff;
  position: absolute;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  z-index: 1;
}

#toggle {
  display: none;
}

#toggle:checked ~ nav {
  right: 0;
  top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.close {
  position: absolute;
  top: 18px;
  right: 28px;
}

.header__menu {
  margin-top: 37px;
  margin-bottom: 24px;
  padding-left: 34px;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.item-header__menu {
  padding-left: 34px;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-bottom: 12px;
}

.item__menu {
  padding-left: 55px;
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.link__menu,
.link-item__menu {
  display: block;
  width: 100%;
}

.item__menu:hover {
  color: #F16D7F;
}

.top {
  background-color: #F1E4E6;
}

.box__top {
  height: 764px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-bold {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.text {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}

.text-color {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #F16D7F;
}

.text__top-p {
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
}

.box__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.box__content-top {
  margin-top: 65px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.link-content {
  display: block;
}

.content-img {
  margin-right: 30px;
}

.div-img {
  position: relative;
}

.div-img:hover {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

/* .content-img:last-child {
    margin-right: 0;
} */
.text-img {
  position: absolute;
  top: 50%;
  left: 50%;
  /* margin-right: -50%; */
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.white {
  display: block;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-align: center;
}

.pink {
  display: block;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-align: center;
}

.fetured-items {
  margin-top: 96px;
  text-align: center;
}

.heading__items {
  margin-bottom: 6px;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.text__fetured-items {
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  margin-bottom: 48px;
}

.items-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: #F8F8F8;
  text-align: left;
}

.item:hover .item-img {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.heading-item {
  margin-top: 25px;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-left: 17px;
}

.text-item {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-top: 13px;
  margin-left: 17px;
}

.price-item {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin-top: 18px;
  margin-left: 17px;
  margin-bottom: 20px;
}

.link-item {
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 19px;
  /* position: relative; */
}

.link-item__button {
  display: block;
  width: 100%;
  color: #F16D7F;
  font-size: 16px;
  line-height: 19px;
}

.link-cart__item {
  display: block;
  border: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.item {
  position: relative;
}

.cart__item {
  position: absolute;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 210px;
  width: 100%;
}

.item:hover .cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-text {
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.button-item {
  border: 1px solid #F26376;
  background-color: white;
  padding: 15px 40px;
}

.button-item:hover {
  background-color: #F16D7F;
  border: 1px solid #FF6A6A;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.button-item:hover .link-item__button {
  color: #fff;
}

.footer {
  margin-top: 95px;
  background-color: #222224;
}

.top__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 103px;
  padding-bottom: 103px;
}

.item__top__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}

.heading__top__footer {
  margin-top: 28px;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
}

.text__top__footer {
  margin-top: 16px;
  font-size: 13.972px;
  line-height: 17px;
  color: #FBFBFB;
  text-align: center;
}

.img__top__footer {
  width: 45px;
  height: 32px;
}

.middle__footer {
  height: 448px;
  background-image: url(img/bg-footer.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.box__middle__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 97px;
}

.item__middle__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text__middle__footer {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  width: 360px;
}

.item-right__footer {
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #222224;
}

.text-right__footer {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #222224;
  margin-bottom: 32px;
}

.bottom__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text__bottom__footer {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  margin-top: 30px;
  margin-bottom: 30px;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bg-img {
  width: 32px;
  height: 32px;
  background-color: #fff;
  margin-right: 8px;
  position: relative;
}

.icon-img,
.fab {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  /* margin-right: -50%; */
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bg-img:hover {
  background-color: #F16D7F;
}

.bg-img:hover .fab {
  color: #fff;
}

.input__footer {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border: 1px solid #E1E1E1;
  background-color: #E1E1E1;
  padding: 15px;
  height: 49px;
}

.button__footer {
  height: 49px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: 1px solid #E05C6E;
  background-color: #E05C6E;
  padding: 15px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  margin-left: -3px;
}

.button__footer:hover {
  color: #E05C6E;
  background-color: #fff;
  border: 1px solid #fff;
}

.arrivals-bg {
  background-color: #F8F3F4;
}

.top-arrivals {
  height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 51px;
}

.top-arrivals-left {
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.text-top-arrivals {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.text-top-arrivals:hover {
  color: #F16D7F;
}

.pink-arr {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.text-icon__filter {
  margin-right: 11px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.pink-filter:hover {
  fill: #EF5B70;
}

.text-icon__filter:hover {
  color: #EF5B70;
}

.filter__icon {
  position: relative;
}

.border-filter {
  width: 327px;
  height: 1px;
  background-color: #EBEBEB;
}

.filter-menu {
  position: absolute;
  display: none;
  width: 360px;
  background-color: #fff;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  border: 1px solid #EBEBEB;
  z-index: 1;
}

.filter-menu-header {
  font-size: 14px;
  line-height: 17px;
  color: #EF5B70;
  text-transform: uppercase;
  border-left: 5px solid #F16D7F;
  margin-bottom: 36px;
}

.pink-border {
  width: 5px;
  height: 37px;
  background-color: #EF5B70;
}

details summary::-webkit-details-marker {
  display: none;
}

.filter__icon:hover .filter-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.filter-li {
  margin-left: 34px;
  margin-bottom: 11px;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.size-menu {
  position: absolute;
  display: none;
  width: 80px;
  height: 100px;
  background-color: #fff;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  border: 1px solid #EBEBEB;
}

.size_filter,
.filter__icon {
  position: relative;
}

.size_filter:hover .size-menu {
  display: block;
}

.pages {
  margin-top: 48px;
}

.ul__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.li__pages {
  margin-right: 18px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
}

.li__pages:hover {
  color: #EF5B70;
}

.pink-li {
  color: #EF5B70;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.filter__icon {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.ul__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.li__filter {
  margin-right: 28px;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.ul-box__filter {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.img-filter {
  margin-left: 10px;
}

.product {
  height: 777px;
  background-color: #f7f7f7;
  position: relative;
  margin-top: -51px;
}

.left-arrow {
  position: absolute;
  left: 8px;
  top: 50%;
  width: 31px;
  height: 31px;
  background-color: #d1caca;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right-arrow {
  position: absolute;
  right: 8px;
  top: 50%;
  width: 31px;
  height: 31px;
  background-color: #d1caca;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrow {
  display: block;
}

.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -1;
}

.product-box {
  margin-top: -60px;
  width: 1141px;
  background-color: #fff;
  border: 1px solid #eaeaea;
  z-index: 999;
}

.product-info {
  padding-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pink-product-header {
  margin-bottom: 12px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.pink-product-border {
  margin-bottom: 12px;
  width: 63px;
  height: 3px;
  background-color: #EF5B70;
}

.grey-product-header {
  margin-bottom: 49px;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
}

.product-text {
  margin-bottom: 33px;
  width: 555px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
}

.product-price {
  margin-bottom: 65px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
}

.grey-product-border {
  margin-bottom: 65px;
  width: 642px;
  height: 1px;
  background-color: #eaeaea;
}

.choose {
  margin-bottom: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 374px;
}

.choose-text {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.choose-text:after {
  content: url(img/choose-arrow.svg);
}

.pink-cart-text {
  margin-left: 22px;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
}

.fa-shopping-cart {
  color: #F26376;
}

.pink-cart-button {
  margin-bottom: 65px;
  /* padding: 15px 10px; */
  border: 1px solid #FF6A6A;
}

.pink-cart-button:hover .pink-cart-text,
.pink-cart-button:hover .fa-shopping-cart {
  color: #fff;
}

.cart-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 128px;
}

.cart-item {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 652px;
  position: relative;
  -webkit-filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
          filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
}

.cart-img {
  width: 262px;
  height: 306px;
  margin-right: 31px;
}

.close-cart-item {
  position: absolute;
  top: 28px;
  right: 22px;
}

.close-cart-item:hover {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: scale(2);
          transform: scale(2);
}

.mango {
  margin-top: 22px;
  margin-bottom: 42px;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
}

.mango-text {
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.mango-pink {
  color: #EF5B70;
}

.quantity {
  width: 44px;
  height: 25px;
  border: 1px solid #EAEAEA;
  margin-left: 24px;
  text-align: center;
}

.cart-form {
  width: 360px;
}

.cart-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button-cart {
  padding: 17px 40px;
  border: 1px solid #A4A4A4;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.button-cart:hover,
.quote:hover {
  background-color: #EF5B70;
  color: white;
}

.adress-header {
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.adress-input {
  border: 1px solid #A4A4A4;
  width: 100%;
  padding-top: 13px;
  padding-left: 17px;
  padding-bottom: 17px;
  margin-bottom: 20px;
}

.quote {
  margin-top: 23px;
  margin-bottom: 57px;
  padding: 10px 15px;
  border: 1px solid #A4A4A4;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
}

.proceed {
  padding-top: 39px;
  padding-right: 44px;
  padding-left: 44px;
  background: #F5F3F3;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sub-text {
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  margin-bottom: 12px;
}

.grand-text {
  margin-bottom: 21px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.grand-pink {
  color: #F16D7F;
}

.sub {
  margin-right: 50px;
}

.grand-pink {
  margin-left: 30px;
}

.sub-text,
.grand-text {
  text-align: right;
}

.checkout-line {
  margin-bottom: 17px;
  width: 275px;
  height: 1px;
  background-color: #E2E2E2;
}

.checkout {
  margin-bottom: 42px;
  padding: 15px 43px;
  background-color: #F16D7F;
  border: 1px solid #F26376;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.checkout:hover {
  color: #F16D7F;
  background-color: #fff;
}

.pink-cart-button:hover {
  background-color: #F16D7F;
  color: #fff;
}

.reg-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 64px;
  margin-bottom: 96px;
}

.reg-form,
.reg-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reg-header {
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.reg-text {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.reg-input {
  width: 100%;
  height: 45px;
  line-height: 45px;
  padding-left: 18px;
  margin-bottom: 20px;
}

.gender {
  margin-bottom: 33px;
}

.male {
  margin-left: 10px;
}

.reg-button {
  margin-top: 40px;
  width: 167px;
  height: 50px;
  text-transform: uppercase;
  background-color: #F16D7F;
  border: 1px solid #FF6A6A;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.reg-button-text {
  margin-right: 20px;
}

.reg-button:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.reg-info {
  margin-left: 128px;
}

.reg-info-header {
  margin-bottom: 22px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.reg-info-text {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.reg-info-ul {
  margin-top: 21px;
}

.reg-info-li {
  margin-top: 16px;
  list-style-image: url(img/ul-reg.svg);
  /* padding-left: 22px; */
  list-style-position: inside;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.reg-info-li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
/*# sourceMappingURL=style.css.map */